.Board {
  margin: 0 auto;
  border: 3px solid black;
  padding: 5px;
}

.Board-win {
  font-size: 6rem;
  margin-top: 4rem;
}

.Board-button {
  margin: 1rem;
  font-size: 2rem;
  color: white;
  background-color: #4068ee;
  border-radius: 5px;
  border: none;
  padding: 1rem;
}