.EightBall {
    display: grid;
    justify-self: center;
    background-color: #222;
    border-radius: 5px;
}

.EightBall-circle {
    justify-self: center;
    justify-content: center;
    display: flex;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    border-color: 1px solid white;
    margin: 1rem;
}

.EightBall-msg {
    align-self: center;
    color: white;
    margin: 1rem;
}

.EightBall-button {
    color: white;
    font-size: 1.5rem;
    background-color: #2288ee;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}